:root {
  --blue: #003c46;
  --white: #fff;
  --black: #000;
  --dark: #081a1d;
}
body {
  margin: 0;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: left;
}

/* Elements  */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  gap: 1rem;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--dark);
}

.icon.link {
  margin: 1rem;
}

.top {
  padding: 30px 0px;
  border: none;
  background-color: transparent;
}

.space {
  height: 10vh;
}

img {
  width: 800px;
}

.loader {
  border: 0.5rem dotted var(--blue);
  border-bottom: 0.5rem dotted var(--blue);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main */

main {
  flex-direction: column;
  padding: 0 1rem;
}

main p,
main h5 {
  max-width: 800px;
  line-height: 1.5;
}

/* NAV */
nav a,
.success {
  font-weight: bold;
  padding: 20px;
}
.navbar {
  height: 60px;
  padding-top: 0.2rem;
  z-index: 100;
  position: fixed;
  align-items: center;
  top: 0;
  margin-bottom: 100px;
}

.menu {
  padding: 20px 50px 10px 0px;
  right: 3rem;
}

.hamburger {
  margin-top: 10px;
  display: none;
}

.logo {
  text-transform: var(--bigtext);
  font-weight: 100;
  text-transform: uppercase;
}

/* Hero Sections */
.hero {
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
}

.home.hero {
  background-image: url("/images/header-desktop.jpg");
  height: 900px;
}
.hero-cta {
  padding: 1.2rem;
  font-size: 2.8rem;
  border: 0px;
  opacity: 80%;
  width: 30rem;
  height: 8rem;
  text-transform: uppercase;
}

/* Hover States */
.hero-cta:hover,
nav a:hover,
.cta:hover,
.container *:hover,
.slide:hover,
.more a:hover {
  text-decoration: underline;
  opacity: 100%;
}

.button:hover,
.show-more:hover,
.container img:hover,
.slide img:hover,
.cta-button:hover {
  box-shadow: 7px 7px 9px var(--dark);
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

/* Slider Homepage */

.slider-wrapper {
  margin: 1rem;
  padding-top: 100px;
  overflow: hidden;
}

.slides-container {
  overflow: scroll;
  scroll-behavior: smooth;
}

.slider-wrapper {
  width: 90%;
}

.slide {
  height: 500px;
  flex: 1 0 100%;
  max-width: 300px;
  max-height: 90vh;
  margin: 20px 20px 100px 20px;
}

.slide img {
  height: 400px;
}
.slide-arrow {
  top: 50%;
  height: 3rem;
  border: none;
  width: 3rem;
  font-size: 3rem;
  opacity: 60%;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slides-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Fact sections homepage */

.fact {
  padding: 50px 0px;
}

.fact img {
  height: 100%;
  max-height: 100vh;
}

.fact.text {
  top: 60%;
  left: 5%;
  opacity: 80%;
  padding: 1rem;
  max-width: 50vw;
  width: 500px;
}

/* About Page */
.about.hero {
  background-image: url("/images/about-hero.jpg");
  height: 500px;
  max-height: 60vh;
}

.about.button,
.contact.button {
  gap: 12px;
  width: 200px;
  height: 50px;
  border: 0px;
}

/* All Blogs Page */

.container img {
  height: 300px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px;
  gap: 20px;
  justify-content: center;
  text-transform: capitalize;
  flex-wrap: wrap;
}

/* Footer */
footer {
  height: 200px;
}

footer a {
  width: 50px;
  height: 50px;
}

/* Contact Page */
.contact.hero {
  background-image: url("/images/contact-hero.jpg");
  height: 600px;
  max-height: 60vh;
  margin-bottom: 5rem;
}

input,
textarea {
  border-radius: 6px;
  padding: 0.5rem;
  max-width: 1000px;
  font-size: 1.2rem;
  border: 0.12rem solid var(--blue);
  background-color: rgb(220, 224, 225);
  border: 0;
}

.form-container {
  max-width: 500px;
  padding: 20px 100px;
}

.contact.button,
.show-more {
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 8px;
}
.success {
  width: 500px;
}

.form-error {
  color: rgb(194, 6, 6);
  margin-bottom: 10px;
  font-weight: 200;
}
.form-container {
  font-weight: bold;
}

/* Blog Post Page */

.main-wrapper {
  position: relative;
  min-height: 100vh;
}

.details-container {
  flex-wrap: wrap;
}

.details-container img {
  max-height: 600px;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 101;
  display: none;
}
.modal span {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 3.5rem;
  z-index: 101;
}

.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  object-fit: cover;
}

.details-container img:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
/* Flex */
.flex,
footer a,
.more a,
.details-container {
  display: flex;
}
.flex.center,
footer a,
.more a,
.details-container {
  justify-content: center;
  align-items: center;
}
/* Padding */
body,
ul,
.slide-arrow {
  padding: 0;
}

/* Margin Auto */
.top,
.loader,
main,
.slider-wrapper,
.slide-arrow,
.fact,
.container,
.contact.button,
.show-more {
  margin: auto;
}

/* Position */

.menu,
.slide-arrow,
.fact.text {
  position: absolute;
}
.slider-wrapper,
.fact {
  position: relative;
}

/* Colors */
.icon,
.slide-arrow,
footer a,
.top {
  color: var(--blue);
}
.navbar,
.about.button,
.contact.button,
.show-more {
  background-color: var(--blue);
}

.hero-cta,
.slide-arrow,
.fact.text {
  background-color: var(--white);
}

nav a,
.logo,
.about.button,
.contact.button,
.show-more {
  color: var(--white);
}

/* Width 100% */
.navbar,
.slides-container,
.slide,
.slide img,
.fact img,
.container,
.container img {
  width: 100%;
}

a,
.hamburger,
.hero-cta,
.slide-arrow,
.top,
.details-container img,
.modal span {
  cursor: pointer;
}
/* Font Size */

h5,
.about.button,
.contact.button,
.container,
.show-more,
.form-error {
  font-size: 1rem;
}
.logo,
.success {
  font-size: 1.5rem;
}
.top,
.icon,
footer a {
  font-size: 2rem;
}
img,
.container,
.success {
  max-width: 90vw;
}

.hero,
.fact img {
  max-width: 100vw;
}

/* Border radius */
img,
.slide img,
.about.button,
.contact.button,
.container img,
.hero-cta,
.fact.text {
  border-radius: 12px;
}

/* Object fit */
.slide img,
.container img,
.details-container img {
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .mobile-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu,
  .cta {
    background-color: var(--blue);
  }

  ul {
    display: block;
    padding-left: 0;
  }
  .navbar {
    align-items: start;
    max-width: 100vw;
  }
  .bar {
    display: block;
    width: 2rem;
    height: 4px;
    border-radius: 8px;
    margin: 6px auto;
    background-color: var(--white);
  }

  .logo,
  .container h2 {
    width: 80%;
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
    padding-right: 1.5rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .menu,
  .menu-item,
  .fact.text {
    padding: 0;
  }
  .menu {
    position: fixed;
    color: var(--white);
    height: 2rem;
    width: 100vw;
    display: none;
    height: 90vh;
  }

  .menu-item {
    margin: 30px auto;
    border: 1px solid var(--white);
    border-radius: 10px;

    width: 50%;
  }

  .menu.active {
    display: block;
    left: 0;
  }

  .home.hero {
    background-image: url("/images/header-mobile.jpg");
    align-items: center;
    max-height: 90vh;
    max-width: 100vw;
  }

  .hero-cta {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    opacity: 100%;
    height: 120px;
    max-width: 60vw;
    border-radius: 1rem;
    font-weight: 200;
  }
  .cta {
    color: var(--white);
    border: 0px;
    border-radius: 0.3rem;
    padding: 10px;
  }

  .main,
  .details-container div,
  .container,
  .fact.text {
    max-width: 90vw;
  }

  .fact.text {
    top: 10%;
    left: 20%;
  }

  .details-container {
    line-height: 2;
  }
  .details-container h1 {
    line-height: 1.5;
    font-size: 1.8rem;
  }
  .details-container figure {
    margin: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
    gap: 20px;
    justify-content: center;
    text-transform: capitalize;
    margin: auto;
    font-size: 1rem;
    flex-wrap: wrap;
  }
  .container img {
    height: 30vh;
  }

  .cta-button,
  .contact.button,
  .hero-cta {
    width: 15rem;
    font-size: 1.2rem;
  }
  .fact.text {
    top: 1;
    left: 0;
    position: relative;
    margin: 0;
  }
  .fact img {
    height: 50vh;
  }

  .slider-wrapper {
    width: 90vw;
    margin: auto;
    max-height: 90vh;
  }

  .slide {
    max-height: 90vh;
    max-width: 90vw;
    margin: auto;
    padding: 0px 20px;
  }
  .slide img {
    max-height: 50vh;
  }
  .slide-arrow {
    height: 4rem;
    width: 4.5rem;
    font-size: 3.5rem;
  }
  .modal img,
  .details-container,
  .details-container img {
    max-width: 90vw;
  }
}
