:root {
  --blue: #003c46;
  --white: #fff;
  --black: #000;
  --border-radius: 12px;
  --padding: 20px;
  --dark: #081a1d;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: left;
}

/* Elements  */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
h5 {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--dark);
}

.icon {
  background-color: var(--blue);
  display: flex;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  color: var(--white);
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: auto;
}
.icon.link {
  margin: 1rem;
}

.top {
  font-size: 2rem;
  padding: 30px 0px;
  margin: auto;
}

.space {
  height: 10vh;
}

img {
  border-radius: 12px;
  max-width: 90vw;
  width: 800px;
}

.more a {
  display: flex;
  align-items: center;
}

.loader {
  border: 0.5rem dotted var(--blue);
  border-bottom: 0.5rem dotted var(--blue);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
}

main p,
main h5 {
  max-width: 800px;
  line-height: 1.5;
}

/* NAV */
nav a {
  color: var(--white);
  font-weight: bold;
  padding: 20px;
}
.navbar {
  height: 60px;
  background-color: var(--blue);
  padding-top: 0.2rem;
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  align-items: center;
  top: 0;
  margin-bottom: 100px;
}

.menu {
  position: absolute;
  display: flex;
  padding: 20px 50px 10px 0px;
  right: 3rem;
}

.hamburger {
  margin-top: 10px;
  display: none;
  cursor: pointer;
}

.logo {
  color: var(--white);
  font-size: 1.5rem;
  text-transform: var(--bigtext);
  font-weight: 100;
  text-transform: uppercase;
}

/* Hero Sections */
.hero {
  background-repeat: no-repeat center center fixed;
  max-width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
}

.home.hero {
  background-image: url("/images/header-desktop.jpg");
  height: 900px;
}
.hero-cta {
  padding: 1.2rem;
  font-size: 2.8rem;
  background-color: var(--white);
  border: 0px;
  opacity: 80%;
  width: 30rem;
  height: 8rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
}

/* Hover States */
.hero-cta:hover,
nav a:hover,
.cta:hover,
.container *:hover,
.slide:hover,
.more a:hover {
  text-decoration: underline;
  opacity: 100%;
}

.button:hover,
.show-more:hover,
.container img:hover,
.slide img:hover,
.cta-button:hover {
  box-shadow: 7px 7px 9px var(--dark);
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

/* Slider Homepage */

.slider-wrapper {
  margin: 1rem;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.slides-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slider-wrapper {
  width: 90%;
  margin: auto;
}

.slide {
  max-width: 300px;
  max-height: 90vh;
  margin: 100px 20px;
}

.slide img {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 50%;
  margin: auto;
  height: 3rem;
  background-color: var(--white);
  color: var(--blue);
  border: none;
  width: 3rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 60%;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slides-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Fact sections homepage */

.fact {
  position: relative;
  margin: auto;
  padding: 50px 0px;
}

.fact img {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.fact.text {
  position: absolute;
  top: 60%;
  left: 5%;
  background-color: var(--white);
  opacity: 80%;
  padding: 1rem;
  border-radius: var(--border-radius);
  max-width: 50vw;
  width: 500px;
}

/* About Page */
.about.hero {
  background-image: url("/images/about-hero.jpg");
  height: 500px;
  max-height: 60vh;
}

.about.button,
.contact.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--blue);
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border: 0px;
  color: var(--white);
  font-size: 1rem;
}

/* All Blogs Page */

.container img {
  height: 300px;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px;
  gap: 20px;
  justify-content: center;
  text-transform: capitalize;
  width: 100%;
  max-width: 90vw;
  margin: auto;
  font-size: 1rem;
  flex-wrap: wrap;
}
/* Footer */
.social-media {
  display: flex;
}
footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--blue);
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact Page */
.contact.hero {
  background-image: url("/images/contact-hero.jpg");
  height: 600px;
  max-height: 60vh;
  margin-bottom: 5rem;
}
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
textarea {
  border-radius: 6px;
  padding: 0.5rem;
  max-width: 1000px;
  font-size: 1.2rem;
  border: 0.12rem solid var(--blue);
}

.form-container {
  max-width: 500px;
  padding: 20px 100px;
}

.contact.button,
.show-more {
  background-color: var(--blue);
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  color: var(--white);
  font-size: 1rem;
  margin: auto;
}
.success {
  padding: 20px;
  font-size: 1.5rem;
  width: 500px;
  max-width: 90vw;
}
.cta-button {
  display: flex;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  justify-content: center;
  border-radius: 12px;
}

.form-error {
  color: rgb(194, 6, 6);
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 1rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
input,
textarea {
  background-color: rgb(220, 224, 225);
  border: 0;
}

/* Blog Post Page */
.details-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  text-align: left;
}

.details-container img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.modal {
  transform: scale(3);
}

@media only screen and (max-width: 768px) {
  ul {
    display: block;
    padding-left: 0;
  }
  .navbar {
    align-items: start;
    max-width: 100vw;
  }

  .bar {
    display: block;
    width: 2rem;
    height: 4px;
    border-radius: 8px;
    margin: 6px auto;
    background-color: var(--white);
  }

  .logo {
    width: 80%;
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .menu {
    position: fixed;
    color: var(--white);
    background-color: var(--blue);
    height: 2rem;
    width: 100vw;
    display: none;
    height: 90vh;
    padding: 0;
  }

  .menu-item {
    margin: 30px auto;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu.active {
    display: block;
    left: 0;
  }

  .home.hero {
    background-image: url("/images/header-mobile.jpg");
    align-items: center;
    max-height: 90vh;
    max-width: 100vw;
  }

  .hero-cta {
    background-color: var(--black);
    color: var(--white);
    opacity: 100%;
    font-size: 1.3rem;
    height: 120px;
    max-width: 300px;
    border-radius: 1.5rem;
    font-weight: 200;
  }
  .cta {
    background-color: var(--blue);
    color: white;
    border: 0px;
    border-radius: 0.3rem;
    padding: 10px;
  }

  .main {
    max-width: 90vw;
  }

  .fact.text {
    top: 10%;
    left: 20%;
  }

  .details-container div {
    max-width: 90vw;
  }

  .details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
  }
  .details-container h1 {
    line-height: 1.5;
    font-size: 1.8rem;
  }
  .details-container figure {
    margin: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
    gap: 20px;
    justify-content: center;
    text-transform: capitalize;
    max-width: 90vw;
    margin: auto;
    font-size: 1rem;
    flex-wrap: wrap;
  }
  .container img {
    height: 30vh;
  }

  .cta-button,
  .contact.button {
    width: 15rem;
    font-size: 1.5rem;
  }
  .fact.text {
    top: 1;
    left: 0;
    max-width: 90vw;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .fact img {
    height: 50vh;
  }

  .slider-wrapper {
    width: 100vw;
    margin: auto;
  }

  .slide {
    width: 90vw;
    padding: 0px 20px;
    max-height: 90vh;
    margin: auto;
  }

  .slide img {
    height: 50vh;
  }
  /* .slide-arrow {
    position: absolute;
    display: flex;
    top: 50%;
    margin: auto;
    height: 3rem;
    background-color: var(--white);
    color: var(--blue);
    border: none;
    width: 3rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 60%;
    transition: opacity 100ms;
  } */
  /*   
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  } */

  /* #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  } */
}
